{{> leader-tabs route='groupslist'}}

<br />

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">GroupName</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody id="groupslist">
    {{#each groups}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>

      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-success" href="/leader/groupslist/{{this.id}}/show">
            Show
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/leader/groups/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/leader/groupslist/{{this.id}}/delete?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">Delete
            {{!-- confirm 跳出確定或取消 回傳true/false return回傳這個值給onclick 再看是否要執行此次submit事件 --}}
          </button>
        </form>
        <button id='doneId' type="submit" class="btn btn-link link-primary" data-group-id="{{this.id}}"
          onclick="return confirm(`確定通知團員餐點已送達嗎？`)">
          Notify
        </button>
        <form action="/leader/groupslist/{{this.id}}/done?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-primary"
            onclick="return confirm(`確定有通知團員美食已到達嗎?\n\n確定完成 {{ this.name }} 嗎？`)">Done
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>


<script>

  // 建立連線
  const ws = new WebSocket("ws://ec2-35-78-203-246.ap-northeast-1.compute.amazonaws.com:3000/")

  // 連線
  ws.addEventListener("open", (event) => {
    console.log('websocket用戶端連線成功')
    const userIdElement = document.getElementById('userId')
    const userId = userIdElement.getAttribute('data-user-id')
    const msg = {
      userId
    }
    ws.send(JSON.stringify(msg))

    groupslist.addEventListener('click', function (event) {
      //從父元素往下找 找到對應的click 再判斷是否有設置的唯一id 在執行動作
      const groupslist = document.getElementById('groupslist')
      const groupId = event.target.getAttribute('data-group-id')

      if (groupId !== null) {
        const donemsg = {
          context: `已送達`,
          groupId,
          arrivedGroupId: 1
        }
        ws.send(JSON.stringify(donemsg))
      }
    })
  })

</script>