{{> leader-tabs route='groupslist'}}

<br />

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">GroupName</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    {{#each groups}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>

      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-success" href="/leader/groupslist/{{this.id}}/show">
            Show
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/leader/groups/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/leader/groupslist/{{this.id}}/delete?_method=DELETE" method="POST"
          style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">Delete
            {{!-- confirm 跳出確定或取消 回傳true/false return回傳這個值給onclick 再看是否要執行此次submit事件 --}}
          </button>
        </form>
        <form action="/leader/groupslist/{{this.id}}/done?_method=PATCH" method="POST"
          style="display: inline;">
          <button type="submit" class="btn btn-link link-primary"
            onclick="return confirm(`確定完成 {{ this.name }} 嗎？`)">Done
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>