<div class="container">
  <h1 class="text-center">確認餐點</h1>
  <div class="row">
    <div class="col-lg-6 order-lg-1 ml-0">
      <!-- 左邊的圖片 -->
      <img class="img-responsive" src="{{restaurant.menu}}"
        style="width: 600px; height: 700px; transition: opacity 0.5s; opacity: 0;" onload="this.style.opacity=1;">
    </div>
    <div class="col-lg-6 order-lg-2">
      <!-- 右邊的訂購欄位 -->
      <form action="/leader/groups/{{groupId}}/restaurants/{{restaurant.id}}/{{userId}}/page?_method=PUT" method="post">
        <div class="container mt-3">
          <table class="table">
            <thead>
              <tr>
                <th>Food</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="formBody">
              {{#each foods}}
              <tr class="form-row">
                <td><input type="text" class="form-control" name="food[]" value="{{this.name}}"></td>
                <td><input type="number" class="form-control" name="price[]" value="{{this.price}}"></td>
              </tr>
              {{/each}}
            </tbody>
          </table>

          <button type="submit" class="btn btn-success">Edit</button>

        </div>
      </form>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end mt-3">
  <form action="/leader/groups/created_successfully" method="get">
    <button class="btn btn-primary">CreateGroup</button>
  </form>
</div>