{{> leader-tabs route='restaurants'}}
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
  </li>
  {{#each categories}}
  <li class="nav-item">
    <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
      href="?categoryId={{this.id}}">{{this.name}}</a>
  </li>
  {{/each}}
</ul>

<br />

<div class="row mt-3">
  {{#each restaurants}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <a href="/leader/restaurants/{{this.id}}">
        <div class="text-center">
          <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap" width="286px" height="180px"
            style="transition: opacity 0.5s; opacity:0; height:320px; width:400px" onload="this.style.opacity=1;">
        </div>
      </a>
      <div class="card-body">
        <p class="card-text">
          <a href="/leader/restaurants/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <span class="badge bg-secondary">{{this.Category.name}}</span>
        <p class="card-text text-truncate">{{this.description}}</p>

        <div class="d-flex">
          {{#ifCond this.Groups.done 0}}
                    <button class="btn btn-outline-danger my-sm-0 my-2" onclick="alert('美食團已經存在!')">Created</button>

          {{else}}
          <a href="/leader/groups/restaurants/{{this.id}}/{{../userId}}"><button class="btn btn-outline-primary my-sm-0 my-2"
              onclick="return confirm(`確定要創建 {{ this.name }}美食團嗎？`)">CreateGroup</button></a>
          {{/ifCond}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>