{{> user-tabs route='groupsdetail'}}

<br />

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">GroupName</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <th scope="row">{{this.Group.id}}</th>
      <td>{{this.Group.name}}</td>

      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-success" href="/groupsdetail/{{this.Group.id}}/show">
            Show
          </a>
        </button>
        <form action="/groupsdetail/{{this.Group.id}}?_method=DELETE" method="POST"
          style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.Group.name }} 嗎？`)">Delete
            {{!-- confirm 跳出確定或取消 回傳true/false return回傳這個值給onclick 再看是否要執行此次submit事件 --}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>